<nav id="sidebar">
  <ul class="list-unstyled components navbar-links">
    <li class="add-button">
      <a href="#" class="sidebar-button">
        <div class="main-nav-icon">
          <img src="../../assets/add-icon.svg" alt="add-icon">
        </div>
        <span class="add-text">NEW<br />LOCATION</span>
      </a>
    </li>
    <li class="add-button">
      <a href="#" class="sidebar-button">
        <div class="main-nav-icon">
          <img src="../../assets/add-icon.svg" alt="add-icon">
        </div>
        <span class="add-text">BULK<br />UPLOAD</span>
      </a>
    </li>
    <li class="help-button">
      <a href="#" class="sidebar-button">
        <div class="main-nav-icon">
          <img src="../../assets/help-icon.svg" alt="logout-icon">
        </div>
      </a>
    </li>
  </ul>
</nav>