<nav id="main-sidebar">
  <div class="sidebar-header">
    <a href="https://fenixcommerce.com/" target="_blank" rel="noreferrer noopenner">
      <img src="../assets/chesshouse-logo.svg" alt="chesspiece-logo">
    </a>
  </div>

  <ul class="list-unstyled components navbar-links">
    <li>
      <a href="#">
        <div class="main-nav-icon">
          <img src="../../assets/user-icon.svg" alt="user-icon">
        </div>
        <span class="nav-link-text">Hi, John Doe</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="main-nav-icon">
          <img src="../../assets/location-icon.svg" alt="location-icon">
        </div>
        <span class="nav-link-text">Fulfillment</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="main-nav-icon">
          <img src="../../assets/logout-icon.svg" alt="logout-icon">
        </div>
        <span class="nav-logout-text">Logout?</span>
      </a>
    </li>
  </ul>
</nav>